<div class="content-container">
  <h2>{{ title }}</h2>
  <div class="exam-info">
    <table class="table">
      <thead>
        <tr>
          <th>R.Br.</th>
          <th>Naziv predmeta</th>
          <th>ECTS</th>
          <th>Datum</th>
          <th>Nastavnik</th>
          <th>Ocena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of exams; index as i">
          <td>{{ i }}</td>
          <td>{{ exam?.courseName }}</td>
          <td>{{ exam?.ECTS }}</td>
          <td>{{ exam?.date }}</td>
          <td>{{ exam?.courseProfessor }}</td>
          <td>{{ exam?.finalGrade }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
