<div class="content-container">
  <h2>Izmena podataka</h2>
  <div>
    <div class="account-info">
      <h3>Podaci o nalogu</h3>
      <div class="row">
        <p>Korisnicko ime:</p>
        <input type = "text" value = {{professor.username}}/>
      </div>
      <div class="row">
        <p>Lozinka:</p>
        <input type="password" value = {{professor.password}}/>
      </div>
      <div class="row">
        <p>Ime:</p>
        <input type="text" value = {{professor.firstName}}/>
      </div>
      <div class="row">
        <p>Prezime:</p>
        <input type="text" value = {{professor.lastName}}/>
      </div>
      <div class="row">
        <p>Email:</p>
        <input type="text" value = {{professor.email}}/>
      </div>
      <div class="row">
        <p>Broj telefona:</p>
        <input type="text" value = {{professor.phoneNumber}}/>
      </div>
      <div class="row">
        <p>JMBG:</p>
        <input type="text" value = {{professor.JMBG}}/>
      </div>
      <div class="row">
        <p>Biografija:</p>
        <input type="text" value = "tra la la"/>
      </div>
      <div class="btn-container">
        <button class="filled-btn-dark">Izmeni</button>
      </div>
    </div>
  </div>
</div>
