h2 {
  padding-top: 0;
  padding-left: 5px;
}

h3 {
  border-bottom: 1px solid #2d3b45;
  padding-top: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}
.row p {
  margin-right: 10px;
}

.content-container {
  padding-left: 50px;
  padding-right: 50px;
  color: #2d3b45;
}

.account-info {
  background-color: #e0e6eb;
  border-radius: 10px;
  margin: 10px 0;
}

input {
  padding: 0px;
  background-color: #e0e6eb;
  border: none;
  border-bottom: 1px solid #2d3b45;
  color: #2d3b45;
  font-size: 16px;
  border-radius: 0px;
}

.btn-container {
  border-top: 1px solid #2d3b45;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 10px;
}

.filled-btn-dark {
  font-size: 16px;
  padding: 5px 20px;
}
