<div class="content-container">
  <div class="info">
    <h3 class="card-title">Dodavanje studenta na kurs</h3>
    <form [formGroup]="enrollmentForm" (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="row">
          <label>Student:</label>
          <select formControlName="student">
            <option *ngFor="let student of students; let i = index" [ngValue]="student.id" [attr.selected] = "i">{{ student.firstName }} {{ student.lastName }}</option>
          </select>
        </div>
        <div class="row">
          <label>Početak kursa:</label>
          <input type="date" formControlName="startDate"/>
        </div>
        <div class="row">
          <label>Kraj kursa:</label>
          <input type="date" formControlName="endDate"/>
        </div>
        <div class="button-container">
          <button type="submit" class="filled-btn-dark action-btn" [disabled]="!enrollmentForm.valid">Potvrdi</button>
        </div>
        <!-- <label *ngIf="enrollmentForm.errors">{{ enrollmentForm.errors?.dates | json }}</label> -->
      </div>
    </form>
  </div>
</div>

