<!--<div class="content-container">
    <div class="info" >
      <h3 class="card-title">Informacije o kursu</h3>
      <div class="course-info">
      <div class="form">
        <div class="row">
          <label>Naziv:</label>
          <input type="text" id="name" name="name" #textbox [(ngModel)]="course.name" />
        </div>
        <div class="row">
            <label>Sifra:</label>
            <input type="text" id="courseCode" name="courseCode" #textbox [(ngModel)]="course.courseCode" />
        </div>
        <div class="row">
            <label>ESPB:</label>
            <input type="text" id="ECTS" name="ECTS" #textbox [(ngModel)]="course.ECTS" />
        </div>
        <div class="row">
            <label>Predavanja:</label>
            <input type="text" id="lectures" name="lectures" #textbox [(ngModel)]="course.lectures" />
        </div>
        <div class="row">
            <label>Vezbe:</label>
            <input type="text" id="practicalClasses" name="practicalClasses" #textbox [(ngModel)]="course.practicalClasses" />
        </div>
      <div>
        <button class="filled-btn-dark"  >Izmeni</button>
      </div>
    </div>
    </div>
  </div>
-->
