<div class="content-container">
  <h2>Lista profesora</h2>
  <div class="professor-info">
    <table class="table">
      <thead>
        <tr>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Korisnicko ime</th>
          <th>Zvanje</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professors">
          <td>{{ professor.firstName }}</td>
          <td>{{ professor.lastName }}</td>
          <td>{{ professor.username }}</td>
          <td>{{ professor.academicTitle }}</td>
          <td>{{ professor.email }}</td>
          <td>
            <button class="filled-btn-dark">Ukloni</button>
          </td>
          <td>
            <button class="filled-btn-dark">Izmeni</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
