<div class="content-container">
  <h2>Finansijska kartica</h2>
  <div>
    <div class="account-info">
      <h3>Podaci</h3>
      <div class="row">
        <p>Ziro racun:</p>
        <p>{{ studentFinancialDetails?.giroAccountNumber }}</p>
      </div>
      <div class="row">
        <p>Broj modela:</p>
        <p>{{ studentFinancialDetails?.modelNumber }}</p>
      </div>
      <div class="row">
        <p>Personalni poziv na broj:</p>
        <p>{{ studentFinancialDetails?.personalReferenceNumber }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="account-info">
      <h3>Transakcije</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Datum</th>
            <th style="width: 60%; text-align: left;">Opis</th>
            <th>Kolicina</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>12.12.2020.</td>
            <td style="text-align: left;">Nesto nesto</td>
            <td>200</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
