<div class="content-container">
    <h2>Lista programa</h2>
    <div class="studyProgramme-info">
      <table class="table">
        <thead>
          <tr>
            <th>Naziv</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let studyProgramme of studyProgrammes">
            <td>{{ studyProgramme.name }}</td>
            <td>
              <button class="filled-btn-dark" [routerLink]="['../studyProgrammes/programme', studyProgramme.id]">Pregled</button>
            </td>
            <td>
              <button class="filled-btn-dark">Ukloni</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
