<div class="content-container">
    <div class="info" >
      <h3 class="card-title">Novi kurs</h3>
      <div class="form">
        <div class="row">
          <label>Naziv:</label>
          <input type="text" id="name" name="name" #textbox [(ngModel)]="name" />
        </div>
        <div class="row">
            <label>Sifra:</label>
            <input type="text" id="courseCode" name="courseCode" #textbox [(ngModel)]="courseCode" />
        </div>
        <div class="row">
            <label>ESPB:</label>
            <input type="text" id="ECTS" name="ECTS" #textbox [(ngModel)]="ECTS" />
        </div>
        <div class="row">
            <label>Predavanja:</label>
            <input type="text" id="lectures" name="lectures" #textbox [(ngModel)]="lectures" />
        </div>
        <div class="row">
            <label>Vezbe:</label>
            <input type="text" id="practicalClasses" name="practicalClasses" #textbox [(ngModel)]="practicalClasses" />
        </div>
      <div>
        <button class="filled-btn-dark"  (click) = "saveCourse()" >Dodaj</button>
      </div>
    </div>
  </div>

  
  <div class="student-course-info">
    <h3 class="card-title">Lista studenata</h3>
    <table class="table">
      <thead>
        <tr>
            <th>Indeks</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enrollment of enrollments">
            <td>{{ enrollment.student.index }}</td>
          <td>{{ enrollment.student.firstName }}</td>
          <td>{{ enrollment.student.lastName }}</td>
          <td>
            <button class="filled-btn-dark" (click)="removeEnrollment(enrollment.id)">Ukloni</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div>
      <select [(ngModel)]="selectedStudent" class="select-list">
        <option *ngFor="let student of availableStudents" [ngValue]="student">{{student.index}} {{student.firstName}} {{student.lastName}}</option>
      </select>
      <button class="filled-btn-dark" (click)="addStudentToCourse()">Dodaj</button>
    </div>
  </div>
  
