<div class="content-container">
    <h2>Lista predmeta</h2>
    <div class="courseBooking-info">
      <table class="table">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Sifra</th>
            <th>ESPB</th>
            <th>Predavanja</th>
            <th>Vezbe</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseBooking">
            <td>{{ course.name }}</td>
            <td>{{ course.courseCode }}</td>
            <td>{{ course.ECTS }}</td>
            <td>{{ course.lectures }}</td>
            <td>{{ course.practicalCLasses }}</td>
            <td>
              <button class="filled-btn-dark" [routerLink]="['../examBooking']">Dalje</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
