<div class="sidebar">
  <div class="title">
    Studentska sluzba
  </div>
  <a class="item logout" (click)="logout()">
    Odjava
  </a>

  <div *ngIf="role === 'student'">
    <div class="group">
      <p class="group-title">Profil</p>
      <a class="item" routerLink="/student">Pregled podataka</a>
    </div>
    <div class="group">
      <p class="group-title">Ispiti</p>
      <a class="item" routerLink="/student/exams/register">Prijava ispita</a>
      <a class="item" routerLink="/student/exams/unregister">Odjava ispita</a>
      <a class="item" routerLink="/student/exams/history">Istorija polaganja</a>
      <a class="item" routerLink="/student/exams/passed">Polozeni ispiti</a>
      <a class="item" routerLink="/student/exams/failed">Nepolozeni ispiti</a>
    </div>
    <div class="group">
      <p class="group-title">Placanje</p>
      <a class="item" routerLink="/student/financing">Finansijska kartica</a>
    </div>
  </div>

  <div *ngIf="role === 'admin'">
    <div class="group">
      <p class="group-title">Studenti</p>
      <a class="item" routerLink="/admin/students">Pregled studenata</a>
      <a class="item" routerLink="/admin/users/add/student">Dodaj studenta</a>
    </div>
    <div class="group">
      <p class="group-title">Studijski programi</p>
      <a class="item" routerLink="/admin/studyProgrammes">Pregled programa</a>
      <a class="item" routerLink="/admin/addProgramme">Dodaj program</a>
      <a class="item" routerLink="/admin/courses">Pregled kurseva</a>
      <a class="item" routerLink="/admin/addCourse">Dodaj kurs</a>
    </div>
    <div class="group">
      <p class="group-title">Ispitni rokovi</p>
      <a class="item" routerLink="/admin/periods">Pregled ispitnih rokova</a>
      <a class="item" routerLink="/admin/bookings">Knjizenje</a>
    </div>
    <div class="group">
      <p class="group-title">Profesori</p>
      <a class="item" routerLink="/admin/professors/professorsForAdmin"
        >Pregled profesora</a
      >
      <a class="item" routerLink="/admin/users/add/professor"
        >Dodaj profesora</a
      >
    </div>
  </div>

  <div *ngIf="role === 'professor'">
    <div class="group">
      <p class="group-title">Profil</p>
      <a class="item" [routerLink]="['/professor/', id]">Pregled podataka</a>
      <a class="item" [routerLink]="['/professor/', id, 'edit']"
        >Izmena podataka</a
      >
    </div>
    <div class="group">
      <p class="group-title">Akcije</p>
      <a class="item" [routerLink]="['/professor/', id, 'courses']"
        >Pregled kurseva</a
      >
      <a class="item" [routerLink]="['/professor/', id, 'exams']"
        >Pregled ispita po rokovima</a
      >
      <a class="item" [routerLink]="['/professor/', id, 'activeExams']"
        >Aktivne prijave</a
      >
    </div>
  </div>
</div>
