<div class="content-container">
    <h2>Lista ispitnih rokova</h2>
    <div class="periods-info">
      <table class="table">
        <thead>
          <tr>
            <th>Januarski</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let period of periods">
            <td>{{ period.name }}</td>
            <td>
              <button class="filled-btn-dark" [routerLink]="['../examPeriod', period.id, 'Januarski']">Dalje</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="periods-info">
        <table class="table">
          <thead>
            <tr>
              <th>Februarski</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let period of periods">
              <td>{{ period.name }}</td>
              <td>
                <button class="filled-btn-dark" [routerLink]="['../examPeriod', period.id, 'Februarski']">Dalje</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="periods-info">
        <table class="table">
          <thead>
            <tr>
              <th>Aprilski</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let period of periods">
              <td>{{ period.name }}</td>
              <td>
                <button class="filled-btn-dark" [routerLink]="['../examPeriod', period.id, 'Aprilski']">Dalje</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="periods-info">
        <table class="table">
          <thead>
            <tr>
              <th>Junski</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let period of periods">
              <td>{{ period.name }}</td>
              <td>
                <button class="filled-btn-dark" [routerLink]="['../examPeriod', period.id, 'Junski']">Dalje</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="periods-info">
        <table class="table">
          <thead>
            <tr>
              <th>Julski</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let period of periods">
              <td>{{ period.name }}</td>
              <td>
                <button class="filled-btn-dark" [routerLink]="['../examPeriod', period.id, 'Julski']">Dalje</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="periods-info">
        <table class="table">
          <thead>
            <tr>
              <th>Septembarski</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let period of periods">
              <td>{{ period.name }}</td>
              <td>
                <button class="filled-btn-dark" [routerLink]="['../examPeriod', period.id, 'Septembarski']">Dalje</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="periods-info">
        <table class="table">
          <thead>
            <tr>
              <th>Oktobarski</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let period of periods">
              <td>{{ period.name }}</td>
              <td>
                <button class="filled-btn-dark" [routerLink]="['../examPeriod', period.id, 'Oktobarski']">Dalje</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

