<div class="content-container">
    <h2>Ispitni rok</h2>
    <div class="periodsBooking-info">
      <div class="periodsBooking-info">
        <table class="table">
          <thead>
            <tr>
              <th>Julski</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let period of bookings">
              <td>{{ period.name }}</td>
              <td>
                <button class="filled-btn-dark" (click) = "goToCourses(period.id)">Dalje</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
